.info {
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #000000;
    z-index: 99;
    opacity: 0;
    transition: all 0.3s linear 0s;
    z-index: -1;

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    ul {
        text-align: center;

        li {
            list-style-type: none;
            font-size: 1.2em;
            padding: 0.2em;
            margin: 0.2em;
        }
    }
}

.info.true {
    transition: all 0.3s linear 0s;
    opacity: 1;
    z-index: 99;
}
